body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #6995a5;
  text-decoration: none;
}

.header {
  min-height: 150px;
  background: #333;
  color: white;
  -webkit-box-shadow: inset 0px -14px 8px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -14px 8px -7px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -14px 8px -7px rgba(0, 0, 0, 0.75);
}

.header h1 {
  margin: 0 auto;
  max-width: 700px;
  line-height: 150px;
  font-size: 52px;
  text-shadow: 0 -2px 0 #CCC;
}

.header h1 a {
  color: white;
}

.nav {
  font-size: 22px;
}

.nav ul {
  padding: 0;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  list-style-type: none;
}

.nav ul li {
  float: left;
  margin-right: 5px;
  padding: 5px 10px;
}

.nav ul li a {
  box-sizing: border-box;
}

.nav ul li.current a {
  color: #333 !important;
}

.nav ul li a:hover {
  color: #333;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0px 10px;
}

.post .post-title {
  margin-bottom: 5px;
}

.post .post-date {
  margin: 0;
  color: #aaa;
}

.post-content {
  border-bottom: double #ccc 3px;
}

.post-content img {
  display: block;
  margin: 0 auto;
}

.pagination {
  text-align: center;
}

.pagination ul {
  display: inline-block;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination ul li {
  float: left;
  padding: 5px 10px;
}

.pagination ul li a:hover {
  text-decoration: underline;
}

.footer {
  font-size: 13px;
  text-align: center;
  padding: 15px 0 20px 0;
  border-top: double #ccc 3px;
}

@media only screen and (max-width: 320px) {
  .header h1 {
    text-align: center;
  }
}

